body {
    background-color: lightgrey;
    font-family: 'Montserrat', sans-serif;
}

main {
    min-width: 800px;
    margin-left: 20%;
    margin-right: 20%;
}


header {
    max-width: 1000px;
    margin-left: 20%;
    margin-right: 20%;
}

input {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
}

.profile_pic {
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

#chat_icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.chat {
    margin-left: 10px;
}

.chatwindow_outer {
    background-color: grey;
    width: 90%;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
}

.chatwindow_inner {
    height: 600px;
    border: 2px solid grey;
    border-radius: 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    padding: 10px;
    background-color:white;
}

    /* Hide scrollbar for Chrome, Safari and Opera */
    .chatwindow_inner::-webkit-scrollbar {
        display: none;
    }

.chat_field {
    border: 2px solid lightgrey;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}

.chat_field_darker {
    border: 2px solid grey;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    display: inline-block;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat_item {
    padding: 10px;
}

#avatar {
    width: 50px;
}

#username {
    width: 80px;
    font-weight: bold;
}

#message {
    width: 450px;
    max-width: 600px;
}

#created {
    width: 220px;
}

#post {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#new_message {
    height: 50px;
    min-width: 350px;
    border-radius: 3px;
    border-style: hidden;
    margin-right: 7px;
    padding-left: 10px;
    width: 100%;
    font-size: 24px;
}

button {
    font-size: 20px;
    width: 150px;
    color:black;
   background-color:lightgrey;
   border-style:hidden;
   border-radius:3px
}

.button_link {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-size: 16px;
    text-decoration: underline;
    color: blue;
}

    .button_link:hover {
        cursor: pointer;
    }

a {
    color: blue;
}

    a:visited {
        color: rebeccapurple;
    }

.button_link:visited {
    color: rebeccapurple;
}


.top_nav {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: black !important;
    font-size: 50px;
}

#top_right_nav {
    display: inline-block;
    display: flex;
    float: right;
}

#top_right_nav_item {
    margin-left: 15px;
}
